[Desktop Entry]
Name=html5weibo
Exec=ubuntu-html5-app-launcher $@ --www=www --inspector
Icon=html5-weibo.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

